<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CodEX</title>
    <link rel="stylesheet" href="../static/search/css/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/search/css/flat-ui.css">
    <link rel="alternate icon" type="image/png" href="../static/search/img/icon-flat.png">
</head>
<body>
<nav class="navbar navbar-inverse navbar-embossed navbar-fixed-top" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
            <span class="sr-only">Toggle navigation</span>
        </button>
        <a class="navbar-brand" href="#">CodEX</a>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse-01">
        <ul class="nav navbar-nav navbar-left">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">My Account <span class="fui-user"></span><b class="caret"></b></a>
                <span class="dropdown-arrow"></span>
                <ul class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Log out</a></li>
                </ul>
            </li>
        </ul>
        <form class="navbar-form navbar-right" action="#" role="search">
            <div class="form-group">
                <div class="input-group">
                    <input class="form-control" id="navbarInput-01" type="search" placeholder="Search">
                    <span class="input-group-btn">
                      <button type="submit" class="btn"><span class="fui-search"></span></button>
                    </span>
                </div>
            </div>
        </form>
    </div><!-- /.navbar-collapse -->
</nav><!-- /navbar -->
<div class="container" style="margin-top: 60px">

</div>
</body>
<script src="../static/search/js/vendor/jquery.min.js"></script>
<script src="../static/search/js/vendor/video.js"></script>
<script src="../static/search/js/flat-ui.min.js"></script>
<script src="../static/search/js/application.js"></script>
</html>