<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CodEX</title>
    <link rel="stylesheet" href="../static/search/css/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/search/css/flat-ui.css">
    <link rel="alternate icon" type="image/png" href="../static/search/img/icon-flat.png">
    <link rel="stylesheet" type="text/css" href="../static/search/css/prism.css">
    <style>
        .my-title {

        }

        .my-author {
            font-size: 15px;
            text-align: center;
            color: #9aa4af;
        }

    </style>
</head>
<body>
<nav class="navbar navbar-inverse navbar-embossed navbar-fixed-top" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
            <span class="sr-only">Toggle navigation</span>
        </button>
        <a class="navbar-brand" href="/">CodEX</a>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse-01">
        <ul class="nav navbar-nav navbar-left">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">My Account <span class="fui-user"></span><b
                        class="caret"></b></a>
                <span class="dropdown-arrow"></span>
                <ul class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Log out</a></li>
                </ul>
            </li>
        </ul>
        <form class="navbar-form navbar-right search" action="/search" role="search">
            <div class="form-group">
                <div class="input-group">
                    <input name="p" value="1" hidden>
                    <input name="q" class="form-control s-bar" id="navbarInput-01" value="" type="search"
                           placeholder="Search">
                    <span class="input-group-btn">
                      <button type="submit" class="btn"><span class="fui-search"></span></button>
                    </span>
                </div>
            </div>
        </form>
    </div><!-- /.navbar-collapse -->
</nav><!-- /navbar -->
<div class="container" style="margin-top: 60px">
    <h3 class="my-title text-center">{{ detail.get_project_name }} - {{ detail.get_file_name }}</h3>
    <p class="my-author">Author : {{ detail.get_author }}</p>
    <pre class="line-numbers" data-line="{{ match_lines }}"><code class="language-{{ detail.get_language }}">{{ detail.get_content }}</code></pre>
    <br><br><br>
</div>
<div class="navbar-fixed-bottom text-center bg-primary">
    <p>
        Final Year Project Group-CodEX Copyright ©2018️ <a href="mailto:7301121@qq.com">Design By Star</a>
    </p>
</div>
</body>
<script src="../static/search/js/vendor/jquery.min.js"></script>
<script src="../static/search/js/vendor/video.js"></script>
<script src="../static/search/js/flat-ui.min.js"></script>
<script src="../static/search/js/application.js"></script>
<script src="../static/search/js/prism.js"></script>
<script type="text/javascript">
    $(function () {
        $(".search").submit(function () {
            var q = $(this).find("input[name='q']").val();
            if (q == '') {
                return false;
            }
        });
    });
</script>
</html>