<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CodEX-Snippet Search</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/codex.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}"/>
    <link rel="alternate icon" type="image/png" href="{% static 'icon-flat.png' %}">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
    <a class="navbar-brand" href="/">CodEX</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03"
            aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor03">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Keyword Search </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/snippet">Snippet Search <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/nls">Nature Language Searching</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0 search" action="/search" method="get">
            <input name="p" class="p" value="1" type="hidden">
            <input name="q" class="form-control mr-sm-2" type="text" placeholder="Quick Search">
            <button class="btn btn-secondary" type="submit">Search</button>
        </form>
    </div>
</nav>

<div class="codex-title" style="margin-top: 5%">
    <label class="c">C</label>
    <label class="o">o</label>
    <label class="d">d</label>
    <label class="e">E</label>
    <label class="c">X</label>
    <div class="codex-result-title">
        <label class="c">s</label>
        <label class="o">n</label>
        <label class="d">i</label>
        <label class="e">p</label>
        <label class="c">p</label>
        <label class="o">e</label>
        <label class="c">t</label>
    </div>
</div>


<div class="container">
    <form class="snippet-search" method="get" action="/snippet-result">
        <div class="form-group">
            <label class="col-md-3" style="font-size: large;">Target Language: </label>
            <select class="custom-select col-md-8" name="l">
                <option selected="" value="3">Python</option>
                <option value="4">Java</option>
            </select>
        </div>
        <br>
        <input name="p" class="p" value="1" type="hidden">
        <textarea id="area" autofocus name="snippet" class="form-control"
                  placeholder="Insert code snippet here to search the usage of it or detect plagiarism..." rows="8"
                  style="resize:none;"></textarea>
        <br><br>
        <div class="row">
            <button type="reset" class="col-md-2 btn btn-lg btn-outline-secondary">Reset</button>
            <div class="col-md-8"></div>
            <button type="submit" class="col-md-2 btn btn-lg btn-primary">Search</button>
        </div>
    </form>
</div>
<div class="fixed-bottom text-center">
    <p>
        Final Year Project Group-CodEX Copyright ©2018️ <a href="mailto:7301121@qq.com">Design By Star</a>
    </p>
</div>
</body>
</html>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/umd/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/layer/layer.js' %}"></script>
<script type="text/javascript">
    $(function () {
        $(".search").submit(function () {
            var q = $(this).find("input[name='q']").val();
            if (q == '') {
                return false;
            }
            layer.msg('Wait for a while...', {
                time: 60000,
                icon: 16,
                shade: 0.3
            });
        });
        $(".snippet-search").submit(function () {
            var q = $("#area").val();
            if (q == '') {
                return false;
            }
            layer.msg('Wait for a while...', {
                time: 60000,
                icon: 16,
                shade: 0.3
            });
        });
    });
</script>
</html>